<%- include('/Users/shariqmalik/Documents/Web Dev Bootcamp/Blog Website/views/partials/navbar.ejs') %>
    
    <h1 class="new-entry">New Entry</h1>
    

    <form action="/submit-form" method="POST">
        <div class="main-qs">
            <label for="title">Title</label><br>
            <input type="text" id="title" name="title"><br>
            <label for="content">Content</label><br>
            <input type="text" id="content" name="content">

            <input type="submit" class="btn btn-primary sub-btn" value="Submit">
            
        </div>
        
        
    </form>
    
<%- include('/Users/shariqmalik/Documents/Web Dev Bootcamp/Blog Website/views/partials/footer.ejs') %>