<%- include('/Users/shariqmalik/Documents/Web Dev Bootcamp/Blog Website/views/partials/navbar.ejs') %>
    
   
    
    <div class="main-qs">
        <form action="/submit-form" class="new-form" method="POST">
            <h1 class="new-entry">New Entry</h1>
            <label for="title">Title</label>
            <input type="text" id="title" name="title">
            <label for="content">Content</label>
            <textarea class="auto-resize" id="content" name="content"></textarea>
            <input type="submit" class="btn btn-primary" value="Submit">
        </form>
    </div>
    
<%- include('/Users/shariqmalik/Documents/Web Dev Bootcamp/Blog Website/views/partials/footer.ejs') %>