<%- include('partials/navbar.ejs') %>

<div class="options">
    <h1>Hello User X</h1>
    <div class="option-btns">
        <form action="/blog-form" method="GET">
            <button class="sub-btn btn btn-primary" type="submit">Add</button>
        </form>
    </div>
    
</div>



<div class="main-section">
    <div class="blog-list">
        <% if (locals.blogEntries) { %>
            <h1>Blogs written by User X</h1><br>
            <% for( let index = 0; index < locals.blogEntries.length; index++ ) { %>
                <div class="blog">
                    <h3 class="blog-title"><%= locals.blogEntries[index].title %></h3>
                    <!-- <h1>Content</h1> -->
                    <p class="blog-content"><%= locals.blogEntries[index].content %></p>
                </div>
            <% } %>
            
        <% } else {%>
            <h1>No blogs to display</h1>
        <% } %>
    </div>

    
    
    
</div>

<%- include('partials/footer.ejs') %>