* {
    font-family: 'Open Sans', sans-serif;
}

.shark-icon {
    font-family: 'Pixelify Sans', sans-serif;
}

.main-section{
    display: flex;
    justify-content: center;
    height: 100vh;
}

.main-section > h1 {
    position: absolute;
}

.custom-btn1 {
    background-color: white;
    height: 45px;
    width: 55px;

}

.sub-btn {
    text-align: center;
}

.options {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.options > h1 {
    margin-left: 251px;
}

.option-btns{
    display: flex;
    margin-right: 251px;
}

/* Making the blog tings innit fam */
.blog-list {
    display: flex;
    align-items: center;
    height: 90vh;
    width: 130vh;
    border: 10px black solid;
    border-radius: 5%;
    border-width: thin;
    /* justify-content: space-between; */

    flex-direction: column;

    margin-top: 20px;
}

.blog-list > h1 {
    margin-top: 10px;
    align-self: center;
}

.blog {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    width: 90vh;
    height: 9vh;
    border: 3px black solid;
    border-radius: 30px;

    margin-top: 10px;
}

.blog-title {
    font-size: 24px;
    margin-left: 15px;
}

.blog-content {
    margin-left: 15px;
    margin-top: 15px;
}
 
/* Blog data entry */
.new-entry {
    text-align: left;
    margin-left: 244px;
}

.main-qs {
    display: flex;
    flex-direction: column;
    justify-content: left;

    width: 20%;
    margin-top: 20px;
    margin-left: 244px;
}

.sub-btn {
    margin-top: 30px;
}