* {
    font-family: 'Open Sans', sans-serif;
}

.shark-icon {
    font-family: 'Pixelify Sans', sans-serif;
}

.main-section{
    display: flex;
    justify-content: center;
    height: 100vh;
}

.main-section > h1 {
    position: absolute;
}

.custom-btn1 {
    background-color: white;
    height: 45px;
    width: 55px;

}

/* .sub-btn {
    text-align: center;
} */

.options {
    display: flex;
    justify-content: center;
    width: 100%;
}

.options > h1 {
    margin-left: 251px;
}

.option-btns{
    display: flex;
}

/* Making the blog tings innit fam */
.blog-list {
    display: flex;
    align-items: center;
    height: 100vh;
    /* width: 80%; */
    /* border: 10px black solid;
    border-radius: 5%;
    border-width: thin; */
    /* justify-content: space-between; */
    flex-direction: column;
    margin-top: 20px;
}

.blog-list > h1 {
    margin-top: 10px;
    align-self: center;
}

/* .blog {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; 
    width:  70vw;
    height: auto;
    border: 3px black solid;
    border-radius: 30px;

    margin-top: 10px;
}

.blog-title {
    font-size: 24px;
    padding-left: 15px;
    padding-top: 10px;
}

.blog-content {
    padding-left: 15px;
    padding-top: 15px;
}

.blog-op {
    display: flex;
    justify-content: right;
} */

.blog {
    display: grid;
    grid-template-columns: 70vw 1fr;
    grid-template-rows: auto 1fr;

    border: 4px black solid;
    border-radius: 30px;

    margin-top: 10px;
    padding-right: 11px;
    padding-top: 5px;
    padding-left: 7px;
}

.delete-btn {
    grid-column: 2;
    grid-row: 2;
}


/* Blog data entry */
/* .new-entry {
    text-align: left;
    margin-left: 244px;
}

.main-qs {
    display: flex;
    flex-direction: column;
    justify-content: left;

    width: 20%;
    margin-top: 20px;
    margin-left: 244px;
}

.sub-btn {
    margin-top: 30px;
} */

/* New form entry */
.new-entry {
    text-align: center;
    grid-row: 1;
}

.main-qs {
    display: flex;
    justify-content: center;
}

.new-form{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr; 
    grid-gap: 16px;

    margin-top: 10px;
}

label {
    grid-column: 1 / 2;
}

input,
button {
    grid-column: 2 / 3;
}

textarea.auto-resize {
    resize: none; /* Prevents manual resizing by the user */
    overflow: hidden; /* Hides any content that exceeds the visible area */
    min-height: 50px; /* Set a minimum height */
    width: 100%; /* Make the textarea fill its container */
    box-sizing: border-box; /* Ensure padding and border are included in the width */
    padding: 10px; /* Optional: Adjust padding as needed */
    border: 1px solid #ccc; /* Optional: Add a border for clarity */
}

/* Edit Form */

.edit-main {
    display: flex;
    justify-content: center;
}

.footer {
    margin-top: 600px;
    text-align: center;
}






